.downloads
  li
    margin-bottom: 2px
  &-item
    width: 100%
    display: block
    background: $color-gold
    padding: 35px 14px
    position: relative
    +max-screen($breakpoint-xl)
      padding: 20px 14px
    &:after
      content: ''
      position: absolute
      background: url(../assets/images/download.svg) no-repeat
      width: 15px
      height: 21px
      right: 29px
      top: 40px
      +max-screen($breakpoint-xl)
        top: 22px
